@media screen and (max-width: 992px) {
.nav-link{
    color: white !important;
}
.navbar-nav{
    padding-top: 16px;
}
}
@media screen and (max-width: 987px){
    .article{
        color: #777a80 !important;
        margin-left: 100px;
        line-height: 1.5em;
    }
}
@media screen and (max-width: 768px){
    .arrowbottom img{
        display: none;
    }

}
@media screen and (max-width: 430px){
    .intro h2{
        font-size: 53px !important;
    }
}
@media screen and (max-width: 378px){
    .btn-primary{
        margin-bottom: 15px;
    }
    .subscribe button{
        margin-top: 8px;
    }

}